{% feed_meta %}

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet">

<!-- Ionicons -->
<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=1.0">
<link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.0">
<link rel="apple-touch-icon" href="/assets/icons/icon.png">

<link rel="dns-prefetch" href="https://www.google-analytics.com">
