/* Partners */
.partners {
  margin: 0 2rem 2rem;
}

.partners .partners-header {
  color: #000000;
  text-align: center;
}

.partners .partner-card-container {
  margin: 1rem 0;
}

.partner-card-container .partner-card {
  display: flex;
  justify-content: center;
}

.partner-card .partner-info {
  margin-left: .5rem;
  max-width: 300px;
}
/* Partners */