/* toc */

.toc-container > .toc-title {
  padding-left: 1rem;
  border-left: 10px solid;
}

.toc-container .section-nav {
  border-radius: 3px;
  background: rgba(0,0,0,.01);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.toc-container ul {
  list-style: square;
}

.toc-container a:hover {
  text-decoration-line: underline;
}

/* toc */