/* download block */

.download-block {
  margin: 28px auto 20px;
  width: 470px;
  height: 71px;
  border: 1px solid #e9e9e9;
  position: relative;
  border-radius: 1px;
  max-width: 100%;
  clear: both;
  font-size: 15px;
  line-height: 24px;
  color: #333;
}

.download-block>a {
  display: block;
  height: 71px;
  text-decoration: none;
}

.file-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-position: 0 0;
  margin: 21px 17px 20px 22px;
  padding: 0;
}

.file-desc {
  position: absolute;
  left: 70px;
  right: 60px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.file-desc > .file-name {
  color: #333333;
  font-size: 14px;
  text-overflow: ellipsis;
  height: 20px;
  margin: 17px 0 0;
}
.file-desc > .file-name > .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 272px;
  height: 20px;
  display: block;
}

.file-desc > .file-size {
  font-size: 12px;
  color: #777;
  height: 16px;
  margin: 2px 0 0;
}

.file-download {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-position: 0 0;
  margin: 21px 17px 20px 22px;
  padding: 0;
}
/* download block */