/* hint box */

.hint-container {
  width: 100%;
  margin: 0;
  display: block;
  padding: 24px 24px calc(1px / 10) 50px;
  position: relative;
  margin-top: 32px;
  border-left: 4px solid;
  border-radius: 3px;
  margin-bottom: 32px;
  background-color: #F5F7F9;
}

.hint-container.info {
  border-color: var(--info,#007bff);
}
.hint-container.success {
  border-color: var(--success,#28a745);
}
.hint-container.warning {
  border-color: var(--warning,#ffc107);
}
.hint-container.danger {
  border-color: var(--danger,#dc3545);
}

.hint-type {
  top: 24px;
  left: 16px;
  margin: 0;
  display: block;
  padding: 0;
  position: absolute;
  font-size: 24px;
}

.hint-type.info {
  color: var(--info,#007bff);
}
.hint-type.success {
  color: var(--success,#28a745);
}
.hint-type.warning {
  color: var(--warning,#ffc107);
}
.hint-type.danger {
  color: var(--danger,#dc3545);
}

.hint-body-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  color: #242A31;
  margin: 0;
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.hint-body {
  flex: 1;
}

ol.hint-list {
  padding-left: 1rem;
}

/* hint box */