/* link box */
.link-container p {
  margin: 2.5px;
}
.link-container {
  margin-top: 24px;
  margin-bottom: 24px;
  box-shadow: inset 0 0 0 1px rgba(230, 230, 230, 1);
  word-break: break-word;
  font-weight: 400;
}

.link-container>a {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
}

.link-box {
  padding: 0px;
  flex: 0 0 auto;
  display: flex;
} 

.link-body {
  flex: 1 1 auto;
  padding: 10px 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.link-title,.link-desc-text,.link-domain {
  max-height: 40px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  color: rgba(41, 41, 41, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.link-desc-text,.link-domain {
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
}

.link-desc {
  margin-top: 0;
  display: block;
}

.link-domain-container {
  margin-top: 0;
  display: block;
}

.link-img-container {
  width: 120px;
  padding: 1px;
  border-left: 1px solid rgba(230, 230, 230, 1);
}
.link-img-container>.link-img {
  height: 120px;
  width: 120px;
  max-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: border-box;
}

@media screen and (min-width: 413px) {
  .link-title,.link-desc-text,.link-domain {
    font-size: 14px;
  }
  .link-domain {
    font-size: 12px;
  }
  .link-desc {
    margin-top: 8px;
  }
  .link-domain-container {
    margin-top: 12px;
  }
  .link-img-container {
    width: 120px;
  }
  .link-img-container>.link-img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 476px) {
  .link-img-container {
    width: 140px;
  }
  .link-body {
    padding: 16px 20px;
  }
  .link-img-container>.link-img {
    width: 140px;
    height: 140px;
  }
  .link-title {
    font-size: 16px;
  }
  
  .link-desc-text {
    font-size: 14px;
  }
  
  .link-domain {
    font-size: 12px;
    margin-top: 12px;
  }
}

@media screen and (min-width: 576px) {
  .link-title, .link-desc-text, .link-domain {
    font-size: 16px;
  }
  .link-domain {
    font-size: 13px;
  }
  .link-img-container {
    width: 160px;
  }
  .link-img-container>.link-img {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 768px) {
  .link-container {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .link-title, .link-desc-text, .link-domain {
    max-height: none;
  }
  .redirect-container {
    max-width: 48rem;
  }
}

@media screen and (min-width: 992px) {
  .link-img-container {
    width: 180px;
  }
  .link-img-container>.link-img {
    width: 180px;
    height: 180px;
  }
}

/* link box */