<div class="article col {% if forloop.index == 1 and page.url == '/' %}col-12 article--first grid__post{% else %}col-4 col-d-6 col-m-12 grid__post animate{% endif %}">
  {% if post.image %}
    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
      <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}">
    </a>
  {% endif %}
  <div class="article__content">
    <div class="article__meta">
      {% if post.rating %}
      <div class="rating-container">
      {% include components/rating.html rating=post.rating %}
      </div>
      {% endif %}
      <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: '%Y-%m-%d'}}</time></span>
    </div>
    <h2 class="article__title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
    </h2>
    <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 100 }}{% endif %}</p>
    <div class="article__bottom">
      <div class="article__btn">
        <a href="{{post.url | prepend: site.baseurl}}" class="read-more">Read More <i class="ion ion-ios-arrow-forward"></i></a>
      </div>
      <div class="article__share">
        <ul class="share__list list-reset">
            <li class="share__item">
              <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ post.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ post.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ post.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ post.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ post.image }}&amp;description={{ post.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
              rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
