<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
        <div class="widgets-box">
          <div class="row">
            <div class="col {% if page.relateds.size > 0 %}col-6{% else %}col-12{% endif %} col-d-12 col-m-12">
              <div class="widget widget-recent">
                <div class="widget__head">
                  <h4 class="widget__title">Recent Posts</h4>
                </div>
                {% for post in site.posts limit:3 %}
                <div class="recent-posts">
                  {% if post.image %}
                    <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                  {% else %}
                  {% endif %}
                  <span class="recent-posts__count">{{ forloop.index }}</span>
                  <div class="recent-posts__content">
                    <div class="recent-posts__date">
                      <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                    </div>
                    <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col col-6 col-d-12 col-m-12">
                {% if page.relateds.size > 0 %}
                <div class="widget widget-recent">
                  <div class="widget__head">
                    <h4 class="widget__title">Related Posts</h4>
                  </div>
                  {% for post in page.relateds %}
                  <div class="recent-posts">
                    {% if post.image %}
                      <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                    {% else %}
                    {% endif %}
                    <span class="recent-posts__count">{{ forloop.index }}</span>
                    <div class="recent-posts__content">
                      <div class="recent-posts__date">
                        <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                      </div>
                      <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="footer__inner">
        <div class="copyright">Copyright © {{site.time | date: '%Y'}} <a href="/"><strong>{{site.title}}</strong></a> All Rights Reserved. </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->