<footer class="footer">
  <div class="partners">
    <h2 class="partners-header">Partners</h2>
    {% for partner in site.data.partners %}
      {% include components/partner-card.html partner=partner %}
    {% endfor %}
  </div>
  <div class="container">
    <div class="row">
      <div class="footer-text">
        Copyright © {{ site.time | date: "%Y" }} {{ site.title }} All Rights Reserved.
      </div>
    </div>
  </div>
</footer>