{% assign pathes = page.permalink | remove: 'index.html' | split: '/' %}

<nav class="nav-category {{ include.nav_none }}">
{% for path in pathes %}
  {% if forloop.first %}
  <a href="/">home</a>
  <span class="path-icon">{{ site.data.svgs.arrow_left }}</span>
  {% elsif forloop.last %}
  <span>{{ path }}</span>
  {% else %}
  <a href="/{{ path }}">{{ path }}</a>
  <span class="path-icon">{{ site.data.svgs.arrow_left }}</span>
  {% endif %}
{% endfor %}
</nav>