{% assign post = include.post %}

<div class="related-posts">
  <div class="related-posts-heading">
    <h2 class="related-posts-text">Related Posts</h2>
  </div>
  {% if post.relateds.size > 0 %}
    {% include components/cards.html posts=post.relateds %}
  {% else %}
  <div class="row">
    {% for related in site.posts limit: 4 %}
      {% if post.permalink != related.permalink %}
        {% include components/card.html post=related %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>