<!DOCTYPE html>
<html lang="ko">

{% include head/index.html %}

<body>

  {% include header.html %}
  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main> 
  <!-- end content -->
  
  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>