---
layout: default
---
{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="post-head">
        <div class="post-info">
          {% if page.rating %}
          <div class="rating-container">
          {% include components/rating.html rating=page.rating %}
          </div>
          {% endif %}
          <span class="post-date">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%Y-%m-%d'}}</time>
          </span>
        </div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>
      <div class="image-box">
        <img class="post-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">
      <!-- begin post -->
      <article class="post">

        {% if page.toc %}
        <div class="toc-container">
          <h2 id="toc-title" class="toc-title">
            <span class="toc-icon">{{ site.data.svgs.toc }}</span>
            <span>목차</span>
          </h2>
          {{ content | markdownify | toc_only }}
        </div>
        {% endif %}

        {% include components/google/infeed-ad.html slot=site.data.ad.first.infeed %}

        <div class="post__content">
          {{ content }}
        </div>

        {% include components/google/infeed-ad.html slot=site.data.ad.second.infeed %}

        <div class="post__share">
            <div class="share__title">Share:</div>
          <ul class="share__list list-reset">
            <li class="share__item">
              <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__twitter" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
              rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
            </li>
          </ul>
        </div>

        <div class="post-author">
          <a href="{{site.baseurl}}/about/" class="post-author__image" style="background-image: url({{site.baseurl}}{{site.author.avatar}})" aria-label="{{site.author.name}}"></a>
          <div class="post-author__info">
            <a class="post-author__name" href="{{site.baseurl}}/about/">{{site.author.name}}</a>
            <p class="post-author__bio">{{site.author.bio}}</p>
            <div class="post-author__meta">
              {% for social in site.author-social %}
              <a class="post-author__link" href="{{social.link}}" target="_blank">{{social.name}}</a>
              {% endfor %}
            </div>
          </div>
        </div>

        {% include components/comment.html %}

      </article>
      <!-- end post -->
      
    </div>

  </div>
</div>